import { A } from '@solidjs/router';

export default function About() {
  return (
    <div class="about">
      <h1>About</h1>
      <p>This is the about page!</p>
      <A href="/home">Go to Home</A>
    </div>
  );
}