import { A } from '@solidjs/router';

export default function Home() {
  return (
    <div class="home">
      <h1>Home</h1>
      <p>Welcome to the home page!</p>
      <A href="/about">Go to About</A>
    </div>
  );
}